.title {
    background-color: #008080;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 5px;
}

.icon {
    padding-top: 20px;
    display: inline-block;
}

.text {
    padding-top: 25px;
    padding-left: 25px;
}

.links_title {
    padding-left: 20px;
}

.checkbox {
    margin-left: 20px;
    display: inline-block;
}

.container-fluid {
    padding-top: 25px;
}

.filter_lines td {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
}

.counter {
    color: rgba(0, 0, 0, 0.3);
}

.content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #00b3b3;
}

.tools {
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-color: #008080;
    color: black;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

.tool_title {
    text-align: center;
}

.tool_image {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.roboline img {
    padding-left: 30px;
}

.roboline img:nth-of-type(1) {
    width: 14%;
    transform: rotate(5deg);
}
.roboline img:nth-of-type(2) {
    width: 16%;
    transform: rotate(-6deg);
}
.roboline img:nth-of-type(3) {
    width: 12%;
    transform: rotate(2deg);
}
.roboline img:nth-of-type(4) {
    width: 14%;
    transform: rotate(-4deg);
}
.roboline img:nth-of-type(5) {
    width: 13%;
    transform: rotate(3deg);
}


@media only screen and (max-width: 768px) {
    .roboline img:nth-of-type(1) {
        width: 32%;
    }
    .roboline img:nth-of-type(2) {
        width: 35%;
        transform: rotate(-6deg);
    }
    .roboline img:nth-of-type(3) {
      width: 33%;
    }
    .roboline img:nth-of-type(4) {
       display: none;
    }
    .roboline img::nth-of-type(5) {
        display: none;
    }
    
    td.topic {
        position: absolute;
    }
    td.boxset {
        padding-top: 4.5ex;
        padding-right: 1em;
    }
    .filter_lines td {
        padding-left: 15px;
    }
}
